body {
  background: #DDFAFF;
  font-family: 'Rubik', sans-serif;
  /*color: #2F2F2F;*/
  padding: 4.5rem 0;
}
.section {
  padding: 7rem 0;
}
.hero-heading {
  font-family: 'Rubik', sans-serif;
}
.avatar {
  max-width: 13rem;
  /*max-width: 125px;*/
  height: auto;
  border-radius: 100%;
}
/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .project-wrapper {
    margin: auto;
  }
  .one-third {
    margin: 3rem auto;
  }
}
/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .my-button {
    margin-right: 2.5rem;
    width: 120px;
  }
  .one-third {
    margin: 2rem 1rem;
  }
}
/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
}
p, ul {
  font-family: 'PT Mono', monospace;
}
.my-button {
  background-color: #F9F9F9;
}
.sketch-list {
  margin-bottom: 4rem;
}
.section-title {
  font-size: 3.25rem;
}
.small-title {
  font-size: 2.275rem;
  margin-bottom: 1.5rem;
}
.img-small {
  max-width: 100%;
  height: auto;
}
.hero-description {
  font-size: 1.8rem;
}
.project-small {
  text-align: center;
}
.description li {
  text-align: left;
}
.app-img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
.work-wrapper-top {
  width: 100%;
  margin: auto;
}
.project-wrapper {
  margin: 10rem 0;
  max-width: 720px;
}
