body {
  background: #DDFAFF;
  font-family: 'Rubik', sans-serif;
  color: #2F2F2F;
}
.section {
  padding: 8rem 0 7rem;
  /*text-align: center;*/
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.hero-heading {
  font-family: 'Rubik', sans-serif;
}
/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
}
/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
}
p {
  font-family: 'PT Mono', monospace;
}
.my-button {
  background-color: #F9F9F9;
  margin-right: 1.5rem;
}

.app-img {
  max-width: 650px;
  height: auto;
  margin: 20px 0;
}

.section-title {
  font-size: 3.25rem;
}
.small-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.img-small {
  max-width: 320px;
  height: auto;
}











/*.about-me,
.contact {
  margin-bottom: 75px;
  font-size: 18px;
}*/
.small_text {
  margin-top: 200px;
}
.project-wrapper {
  margin: 100px 0;
}

.title {
  /*font-size: 32px;*/
  /*margin-bottom: 0;
  font-family: 'Rubik', sans-serif;*/
}

.tech-list {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  /*font-size: 20px;*/
  margin-bottom: 0;
}

.project-img {
  background-size: 650px;
  height: 480px;
  width: 650px;
  margin: 20px 0;
}

/*.cards-img {
  background-image: url("images/cards.gif");
}*/

/*.drop {
  background-image: url("images/drop-shop.png");
}*/

/*.go-img {
  background-image: url("images/go.png");
}*/
