body {
  background: #BFD1E5;
  font-family: 'Inconsolata', monospace;
  color: #542344;
}

header {

}

.headline {
  color: #542344;
  font-size: 76px;
  font-weight: bold;
}


.nav a {
  color: #542344;
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px;
}
