body {
  background-color: $blue;
	font-family: 'PT Mono', monospace;
	color: $darkGrey;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Rubik', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

// a {
// 	color: $lightGrey;
// }
