@import url("https://fonts.googleapis.com/css?family=Magra|PT+Mono|Rambla|Rubik");
body {
  background-color: #DDFAFF;
  font-family: 'PT Mono', monospace;
  color: #2F2F2F; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }
