@import url("https://fonts.googleapis.com/css?family=Magra|PT+Mono|Rambla|Rubik");
body {
  background-color: #DDFAFF;
  font-family: 'PT Mono', monospace;
  color: #2F2F2F; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

a {
  color: #2F2F2F; }

.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.large-hero {
  margin: 4.5rem 0; }
  @media (min-width: 576px) {
    .large-hero {
      margin: 8.5rem 0; } }
  .large-hero__title {
    font-size: 1.875rem; }
    @media (min-width: 576px) {
      .large-hero__title {
        font-size: 3.5rem; } }
  .large-hero__description {
    font-size: 1.25rem; }
    @media (min-width: 576px) {
      .large-hero__description {
        font-size: 1.75rem; } }
  .large-hero__avatar-img {
    border-radius: 100%; }
  .large-hero__avatar {
    max-width: 175px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 576px) {
      .large-hero__avatar {
        margin-left: 0;
        margin-right: 0; } }

.button {
  background-color: #F9F9F9;
  font-family: 'Rubik', sans-serif;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 22px;
  margin: 2rem;
  border: 3px solid #2F2F2F;
  border-radius: 8px; }
  .button:hover {
    background-color: #2F2F2F;
    color: #F9F9F9; }
  @media (min-width: 576px) {
    .button {
      display: inline;
      margin-left: .5rem; } }

.btn-grp {
  padding: 2.5rem 0; }

.project {
  padding: 3.5rem 0; }
  .project__title {
    font-size: 2rem; }
  .project__description {
    font-size: 1.25rem; }
  .project__img {
    max-width: 640px; }

.site-footer {
  background-color: #474646;
  text-align: center;
  color: #F9F9F9;
  padding: 1rem; }
