.button {
	background-color: $lightGrey;
	font-family: 'Rubik', sans-serif;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 16px 22px;
	margin: 2rem;
	border: 3px solid $darkGrey;
	border-radius: 8px;

	&:hover {
		background-color: $darkGrey;
		color: $lightGrey;
	}

	@include sm {
		display: inline;
		margin-left: .5rem;
	}
}

.btn-grp {
	padding: 2.5rem 0;
}
